// 1. Global
// ---------
$global-font-size: 1rem;
$global-width: rem-calc(1284px);
$global-lineheight: 1.75;
// 2. Color Palette
// ----------------
// Primary Colors
$rtcblue: #1D427F;
$rtcgreen: #92B13E;
$rtcorange: #F26D26;
$rtcgold: #DCB43B;
// Hover Colors
$rtcblue_hover: #527ABB;
$rtcgreen_hover: #A6C551;
$rtcorange_hover: #D45511;
$rtcgold_hover: #DCB43B;
// Gray Variants
$white: #fff;
$light-gray: #f2f2f2;
$medium-gray: #ebebeb;
$rtcltgray: #767676;
$spangray: #4A4A4A;
$dark-gray: #414141;
$black: #151515;