@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-thin-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-extralight-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-light-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-regular-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-medium-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-mediumitalic-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-semibold-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-semibolditalic-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-bold-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-bolditalic-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'RTCRaleway';
  src: url('webfonts/ralewayrtc-black-webfont.woff2') format('woff2'), url('webfonts/ralewayrtc-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}